{% extends "base.html" %}
{% block stylesheets %}
    <style>
        ul.errorlist {
            margin: 0;
            padding: 0;
            color: red
        }

        .errorlist li {
            background-color: red;
            color: white;
            display: block;
            font-size: 10px;
            margin: 0 0 3px;
            padding: 4px 5px;
        }
    </style>
{% endblock stylesheets %}
{% block content %}
    <div style="margin-left: 20px">
        <p>
            <a class="btn btn-light" href="{% url 'ListarRevision' %}">
                ← Listar Procesos
            </a>
        </p>

        <div class="row">
            <div class="col">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary shadow-2 mb-4" value="Crear Proceso"
                           class="btn btn-primary">
                </form>
            </div>

        </div>
    </div>

{% endblock %}