
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'estructura_estado_novedad_list' %}">
    estado_novedad Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="fecha_estado">fecha_estado: </label>
  <input class="form-control col-sm-10" id="fecha_estado" type="datetime-local" name="fecha_estado" value="{{ object.fecha_estado }}" disabled>
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="novedad">novedad: </label>
  <input class="form-control col-sm-10" id="novedad" type="text" name="novedad" value="{{ object.novedad }}">
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}